.block-callout {
	color: white;
	border-radius: 50%;
	height: 300px;
	width: 300px;
}
.callout-green {
	background-color: green;
}
.callout-red {
	background-color: red;
}
.callout-blue {
	background-color: blue;
}
